[submodule "devices/ms/Files/GEANTLink"]
	path = devices/ms/Files/GEANTLink
	url = https://github.com/Amebis/GEANTLink-dist.git
[submodule "GEANTLink-dist"]
	path = GEANTLink-dist
	url = https://github.com/Amebis/GEANTLink-dist.git
