/nbproject/
/devices/chromebook/testing.php
/phpdoc.log
/phpdoc/
/translation/*/*.po~
/config/config-confassistant.php
/config/config-master.php
/config/config-diagnostics.php
/web/certprops.php
/utils/stresstest/generator
/utils/stresstest/Doctor_Who_Planets_Wikipedia.html
/utils/stresstest/Doctor_Who_Cast_Wikipedia.html
/devices/ms/Files/WLANSetEAPUserData/WLANSetEAPUserData-master/
/build/
/vendor/
/feddetails.json
/fed.output
/ansible/local/
/.tx/
/translation/de_DE/index.lokalize
/translation/de_DE/main.lqa
/translation/de_DE/lokalize-scripts/
