[submodule "core/PHPMailer"]
	path = core/PHPMailer
	url = https://github.com/PHPMailer/PHPMailer.git
[submodule "devices/ms/Files/GEANTLink"]
	path = devices/ms/Files/GEANTLink
	url = https://github.com/Amebis/GEANTLink-dist.git
[submodule "core/GeoIP2"]
	path = core/GeoIP2
	url = git@github.com:maxmind/GeoIP2-php.git
