
body {
    background: #fff;
    min-height: 100%;
/*    height: auto; */
   position: relative;
}

#wrap {
    min-height: 100%;
}

#cat_form {
   height: 100%;
/* overflow: auto; */
padding-bottom: 80px;
}

#heading {
  position: relative;
}

#main_page {
   position: relative;
   height: 100%;
   width: 100%;
}

#front_page {
    position: relative;
    width: 100%;
    height:auto;
}


button {
    height: 23px;
/*    box-shadow: 10px 10px 5px #888888;*/
    cursor: pointer;
}

#devices {
    z-index:80;
    padding-left: 30px;
    font-size: 11px;
    font-weight: normal;
    position: relative;
    display: none;
}


#device_list button {
   min-height: 23px;
   color: white;
    background: #1d4a74;
}

#device_list button.more_info_b {
    width: 23px; 
   font-style: italic;
   font-family: "Times New Roman", Times, serif;
   font-size: 18px;
   text-align: center;
   padding-bottom: 8px;
}

#device_list button.disabledDevice {
    color: #444;
    background: #bbb;
/*    border-left-style: outset;
    border-left-width: 1px;
    border-left-color: #eee;
    border-top-style: outset;
    border-top-width: 1px;
    border-top-color: #eee;
    border-right-style: outset;
    border-right-width: 2px;
    border-right-color: #444;
    border-bottom-style: outset;
    border-bottom-width: 2px;
    border-bottom-color: #444;
    box-shadow: 10px 10px 5px rgba(100,100,100,0.4); */
}

#roller {
    position: relative;
    height:272px;
}

#slides {
    position: absolute;
    left: 0px;
    height:272px;
    background: #1d4a74;
    background-image: url("../images//image_5a.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
}

#slides img {
    position: absolute;
    top: 30px;
    right: 60px;
}
#img_roll {
    position: absolute;
    right: 50px;
    top: 20px;
}

#img_roll  img {
    position: absolute;
    right: 0px;
    top: 0px;
}


.img.img_roll {
    z-index: 90;
}

#user_button {
    display: block;
    width: 50vw;
}

#user_button_td {
    padding-top: 50px;
    position: relative;
/*    top: 50px; */
    height: auto;
}

#user_button1 {
    position: relative;
/*    top: 360px; */
    vertical-align: top;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}


#top_invite {
    clear: both;
    color: #575757;
    font-weight: bold;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 25px;
    text-align: center;
    width: 100%;
    height: 50px;
    cursor: auto;
    text-decoration: none;
}

#welcome_top1 {
    clear: both;
    padding-top: 140px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

#welcome_top2 {
   font-weight: bold;
    font-size: 16px;
    text-align: center;
   display: none;
}

#cat_logo {
   width: 180px;
   position:absolute;
   left:0px;
   top:30px;
   text-align: center;
}


#cat_logo span {
  display:block;
  font-weight:bold;
  position: relative;
  top: 8px;
/*  left: 0px; */
  
}


#info_overlay {
    display: none;
    background: #f0f0f0;
    padding: 20px;
    padding-bottom: 10px;
    z-index: 100;
    position: absolute;
    width: 70%;
    left: 20%;
    text-align: justify;
    top: 200px;
    border-top: 4px solid #1d4a74;
    box-shadow: 0px 3px 2px 1px rgba(0,0,0,0.06)
}


#idp_logo {
   display:none;
   position:absolute;
   right:30px;
   max-height:150px;
   padding-top:10px;
}

@media all and (max-width: 750px) {
#institution_name {
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 18px;
    padding-right: 120px;
    padding-left: 20px;
    background: #1d4a74;
    color: white;
    text-align: left;
}

#top_invite {
    cursor: pointer;
    text-decoration: underline;
    text-decoration: underline;
}

#top_invite:hover {
    text-decoration: underline;
}


#slides span {
    position: absolute;
    left: 20px;
    z-index: 20;
}

#line1 {
    top:20px;
    color: yellow;
    font-size:20px;
}

#line2 {
    top:55px;
    font-size:40px;
    color: #fff;
}

#line3 {
    top:120px;
    left: 200px;
    color: #ffcc99;
    font-size:25px;
    display: none;
}

#line4 {
    top:180px;
    color: #fff;
    font-size:16px;
    width: auto;
    min-width: 200px;

}

#line5 {
    top:220px;
    width: 400px;
    color: #fff;
    font-size:16px;
    width: auto;
    min-width: 200px;
}


#user_welcome {
    background: #ffffff;
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 20px;
    font-size: 12px;
    font-weight: normal;
    display:none;
}

.download_button_text {
    width: 150px;
    position:absolute;
    font-size:20px;
    top:15px;
    right: 10px;
    padding-top:0px;
}

.download_button_text_1 {
    width: 170px;
    position:absolute;
    font-size:12px;
    top:20px;
    height: 30px;
    right: 5px;
    padding-top:0px;
    display: none;
}
button.guess_os {
   position: relative;
   height:auto;
   width: 250px;
   background-repeat:no-repeat;
   background-position: 10px 15px;
}

#profile_list {
    width: auto;
    padding-left: 10px;
    padding-right: 0px;
    background-color: #1d4a74;
    color: white;
}


#img_roll {
   display: none;
}



#hamburger {
   position: absolute;
   right: 0px;
   top: 30px;
   width: 80px;
   cursor: pointer;
   z-index: 140;
}
#menu_top {
    position: absolute;
    left: 0px;
    top: 20px;
    padding-right: 2vw;
    z-index: 140;
    background: #e7e7e7;
}

#menu_top > ul {
    list-style-type: none;
    font-weight: bold;
    display: none;
}

#menu_top > ul li ul{
    font-weight: normal;
}

#idp_logo {
   max-width:20vw;
   padding-top:30px;
}

}


@media all and (max-width: 750px) and (orientation:landscape) { 
#menu_top {
    font-size: 2.5vw;
    max-width: 60vw;
}

}
@media all and (max-width: 750px) and (orientation:portrait) { 
#menu_top {
    font-size: 2.5vh;
    max-width: 60vw;
}

}


@media all and (min-width: 750px) {

#institution_name {
    font-size: 32px;
    padding-top: 30px;
    padding-bottom: 28px;
    padding-right: 120px;
    padding-left: 30px;
    background: #1d4a74;
    color: white;
    text-align: left;
}


#idp_logo {
   max-width:150px;
}

#slides span {
    position: absolute;
    left: 20px;
    z-index: 20;
}

#line1 {
    top:20px;
    color: yellow;
    font-size:20px;
}

#line2 {
    top:55px;
    font-size:40px;
    color: #fff;
}

#line3 {
    top:120px;
    left: 200px;
    color: #ffcc99;
    font-size:25px;
}

#line4 {
    top:180px;
    color: #fff;
    font-size:16px;
    width: auto;
    min-width: 200px;

}

#line5 {
    top:220px;
    color: #fff;
    font-size:16px;
    width: auto;
    min-width: 200px;
}


#user_welcome {
    background: #ffffff;
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 180px;
    font-size: 12px;
    font-weight: normal;
    display:none;
}

.download_button_text {
    width: 380px;
    position:absolute;
    font-size:20px;
    top:40px;
    right: 5px;
    padding-top:0px;
}

.download_button_text_1 {
    width: 380px;
    position:absolute;
    font-size:12px;
    top:20px;
    height: 30px;
    right: 5px;
    padding-top:0px;
}
button.guess_os {
   position: relative;
   height:80px;
   width: 450px;
   background-repeat:no-repeat;
   background-position: 10px 15px;
}

#profile_list {
    width: 30em;
    padding-left: 10px;
    padding-right: 0px;
    background-color: #1d4a74;
    color: white;
}

#slides span {
    position: absolute;
    left: 80px;
    z-index: 20;
}

#hamburger {
   display: none;
}
#menu_top {
    position: absolute;
    right: 10px;
    top: 20px;
    z-index: 90;

}

#menu_top > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}

#menu_top > ul li {
   float: left;
   position: relative;
/*   max-width: 15vw;*/
}

#menu_top > ul li a {
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    position: relative;
    display: block;
    color: black;
    font-size: 14px;
    text-align: center;
    padding: 35px 2vw 35px 2vw;
    text-decoration: none;
    height: 20px;
}

#menu_top > ul li a.selected-lang {
   background: lightgreen;
}


#menu_top > ul li a:hover {
    background: #1d4a74;
    color: white;
}
#menu_top > ul li:hover ul {
    display: block;
}

#menu_top > ul li ul {
    position: absolute;
    top:90px;
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
}

#menu_top > ul li ul li {
   clear: both;
}

#menu_top > ul li ul li:first-of-type a {
   border-top: 2px solid #1d4a74;
}


#menu_top > ul li ul > li > a,#menu_top > ul li ul > li > span {
   position:relative;
    background: #fff;
   display: block;
   width: 200px;
   min-height: 20px;
   padding: 5px 15px 5px 15px;
   text-align: left;
    border: 1px solid  #e7e7e7;
   z-index: 140;
   box-shadow: 0px 3px 2px 1px rgba(0,0,0,0.06)
}

#menu_top > ul li ul select {
   width: 100%;
   position: relative;
   left: -1vw;
}

#menu_top > ul li ul li span:hover {
   background: #1d4a74;
}

}

#main_menu_info {
    position: absolute;
    top: 140px;
    left: 5%;
    width: 90%;
    background: #f0f0f0;
    margin-left: 0px;
    padding-top: 10px;
    padding-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    vertical-align: top;
    box-shadow: 0px 3px 2px 1px rgba(0,0,0,0.06);
/*    border-top: 4px solid #1d4a74;*/
    text-align: justify;
    font-size: 14px;
    z-index: 140;
}

#main_menu_content {
   font-size: 12px;
}

img.close_button {
   position: absolute;
   right: 5px;
   top: 7px;
   cursor: pointer;
}

#main_menu_content h1 {
    padding: 40px;
    height: 30px;
    font-size: 24px;
    font-weight: normal;
    color: white;
    background: #1d4a74;
}

#main_menu_content div > div {
    padding: 0px 40px 0px 40px;
}


#main_menu_content dt {
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 3px;
}
#main_menu_content dd {
    padding-bottom: 10px;
}

#main_menu_content dd p {
    margin-top: 5px;
}

#user_page {
   position: relative;;
   width: 100%;
   top: 130px;
   padding-bottom: 130px;
    display: none;
}


#guess_os  {
   display: none;
}


#guess_os button.more_info_b {
   height:80px;
   width: 80px;
   font-style: italic;
   font-family: "Times New Roman", Times, serif;
   font-size: 50px;
}

button.large_button {
    background-color: #1d4a74;
    border: 6px solid  #e7e7e7;
    border-radius: 12px;
    padding-left:20px;
    padding-right:20px;
    min-height: 100px;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
/*    width: 50vw;*/
}

button.large_button:hover {
    background-color: #e7e7e7;
    color: #575757;
    text-decoration: underline;
}


a.signin {
   color: white;
   padding-left: 30px;
}



#logos {
    position: absolute;
    left: 0px;
}

#select_another {
   position: absolute;
   max-width: 110px;
   width: auto;
   top: 0px;
   right: 20px;
   font-size: 16px;
   padding-top: 12px;
   color: yellow;
   padding-left:0px;
   text-align: right;
}

#download_info {
   background: #f0f0f0;
   padding-left: 20px;
   padding-right: 20px;
   padding-top:3px;
   padding-bottom:3px;
   display: block;
}

