
:root {
    --color1: #FFFFFF;
    --color2: #575757;
}

html {
    height: 100%;
}

body {
    background: var(--color1); 
    color: #000000;
    font-family:"Open Sans", Helvetica, sans-serif;
    font-size:12px;
    font-weight: normal;
    height: 100%;
    min-height: 100%;
    margin: 0px;
    padding: 0px;
    padding-left: 0px;
    position: relative;
}
button[disabled] {
    background: #bababa;
    color: #6a6a6a;
    border-left-style: inset;
    border-left-width: 1px;
    border-left-color: #dadada;
    border-top-style: inset;
    border-top-width: 1px;
    border-top-color: #dadada;
    border-right-style: outset;
    border-right-width: 2px;
    border-right-color: #dadada;
    border-bottom-style: outset;
    border-bottom-width: 2px;
    border-bottom-color: #dadada;
    cursor: default;
}

.use_borders button {
    border-left-style: none; 
    border-left-width: 1px; 
    border-left-color: #8bbacb;
    border-top-style: outset; 
    border-top-width: 1px; 
    border-top-color: #8bbacb;
    border-right-style: outset; 
    border-right-width: 2px; 
    border-right-color: #043d52;
    border-bottom-style: outset; 
    border-bottom-width: 2px; 
    border-bottom-color: #043d52;
}

input {
    margin-right: 5px;

}

select {
    vertical-align: middle;
    margin-left: 10px;
}

a:link {
    color: var(--color2);
}

a:visited {
    color: var(--color2);
}

a:hover {
    color:#043d52;
}

a:active {
    color: var(--color2);
}

#wrap {
    min-height: 100%;
  /*  height: 100%;
  padding-bottom: 80px;*/
}

#cat_form {
    height: 100%;
    padding-bottom: 80px; 
}

#heading {
   position: relative;
}

#main_page {
   position: relative;
   height: 100%;
   width: 100%;
}

#front_page {
    position: relative;
    width: 100%;
    height:auto;
}

button {
    cursor: pointer;
    background: var(--color1); 
    color: #FFFFFF; 
    height: 23px;
}

button.pressed {
    background:#095e80;
}

button.pressedDisabled {
    background:#f00;
}

button.delete {
    background: maroon;
}

#devices {
    z-index:80;
    padding-left: 30px;
    font-size: 11px;
    font-weight: normal;
    position: relative;
    display: none;
}

#device_list button {
   min-height: 23px;
   color: white;
    background: #1d4a74;
}

#device_list button.more_info_b {
    width: 23px; 
   font-style: italic;
   font-family: "Times New Roman", Times, serif;
   font-size: 18px;
   text-align: center;
   padding-bottom: 8px;
}

#device_list button.disabledDevice {
    color: #444;
    background: #bbb;
}

.device_list button {
    width: 25em; 
    font-size: 14px;  
    font-weight: normal; 
    font-style: normal;
}

.device_list .vendor {
    background: #aaa; 
    padding: 4px;
    border-style: solid; 
    border-width: 0px; 
    border-color: #fff;
    border-bottom-width:1px;
    border-top-width:1px;
    width: 50px;
    text-align: center;
    vertical-align: middle;
}

.no_borders .device_list td {
    padding-top: 2px;
    margin-top: 2px;
}

.device_list {
    list-style-type: none;
}

.device_list td {
    vertical-align:middle;
}

td.vendor {
    width: 50px;
    text-align: center;
    vertical-align: middle;
}

td.vendor img {
    height: 40px;
}

#roller {
    position: relative;
    height:272px;
}

#slides {
    position: absolute;
    left: 0px;
    height:272px;
    background: #1d4a74;
    background-image: url("../images//image_5a.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
}

#slides img {
    position: absolute;
    top: 30px;
    right: 60px;
}

#img_roll {
    position: absolute;
    right: 50px;
    top: 20px;
}

#img_roll  img {
    position: absolute;
    right: 0px;
    top: 0px;
}

.img.img_roll {
    z-index: 90;
}

#user_button {
    display: block;
    width: 50vw;
}

#user_button_td {
    text-align:center;
    vertical-align:top;
    padding-bottom: 20px;
    padding-top: 50px;
    position: relative;
    height: auto;
}

#signin {
    padding-left: 30px;
    padding-top: 10px;
}

#top_invite {
    clear: both;
    color: #575757;
    font-weight: bold;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 25px;
    text-align: center;
    width: 100%;
    height: 50px;
    cursor: auto;
    text-decoration: none;
}

#welcome_top1 {
    clear: both;
    padding-top: 140px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

#welcome_top2 {
   font-weight: bold;
    font-size: 16px;
    text-align: center;
   display: none;
}

#cat_logo {
   width: 180px;
   position:absolute;
   left:0px;
   top:30px;
   text-align: center;
}

#cat_logo span {
  display:block;
  font-weight:bold;
  position: relative;
  top: 8px;
/*  left: 0px; */
  
}

#info_overlay {
    display: none;
    background: #f0f0f0;
    padding: 20px;
    padding-bottom: 10px;
    z-index: 100;
    position: absolute;
    width: 70%;
    left: 20%;
    text-align: justify;
    top: 200px;
    border-top: 4px solid #1d4a74;
    box-shadow: 0px 3px 2px 1px rgba(0,0,0,0.06)
}

#idp_logo {
   display:none;
   position:absolute;
   right:30px;
   max-height:150px;
   padding-top:10px;
}

#inst_extra_text {
   position: absolute;
   max-width: 30vw;
   width: auto;
   top: 0px;
   right: 20px;
   font-size: 16px;
   padding-top: 12px;
   color: yellow;
   padding-left:0px;
   text-align: right;
}

div.device_info {
    background: #f0f0f0;
    border: 1px solid #dddddd;
    margin: 5px;
    padding: 5px;
    padding-bottom: 22px;
    vertical-align: top;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 5px 5px #666666;
    max-width: 350px;
    font-weight: normal;
    font-style: normal;
    display: none;
}

span.redirect_link {
    background: <?php echo $colour2; ?>; color: #FFFFFF; height: 23px;
    border-left-style: inset; border-left-width: 1px; border-left-color: #8bbacb;
    border-top-style: inset; border-top-width: 1px; border-top-color: #8bbacb;
    border-right-style: outset; border-right-width: 2px; border-right-color: #043d52;
    border-bottom-style: outset; border-bottom-width: 2px; border-bottom-color: #043d52;
    border-radius: 6px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    position: relative;
    cursor:pointer;
    float: right;
    height: 14px;
}

span.redirect_link a:link {
    color: white; 
    text-decoration: none;
}

span.redirect_link a:visited {
    color: white; 
    text-decoration: none;
}

span.redirect_link a:active {
    color: white; 
    text-decoration: none;
}

.use_borders button.alertButton {
    color: maroon; 
    background: #bbb; 
    border-left-style: outset; 
    border-left-width: 1px; 
    border-left-color: #eee;
    border-top-style: outset; 
    border-top-width: 1px; 
    border-top-color: #eee;
    border-right-style: outset; 
    border-right-width: 2px; 
    border-right-color: #444;
    border-bottom-style: outset; 
    border-bottom-width: 2px; 
    border-bottom-color: #444;
}

#profile_desc {
   display:none;
    background: #f0f0f0;
    position: relative;
    border: 1px solid #dddddd;
    margin: 5px;
    padding: 5px;
    max-width: 49%;
    min-width: 15em;
    min-height: 25px;
    vertical-align: top;
}

div.sub_h {
    font-weight: bold;
    font-style: italic;
    padding-top: 15px;
}

#profile_redirect {
    padding-left: 30px;
    padding-top: 20px;
    font-size: 12px;
    font-weight: normal;
    max-width:500px;
    width: 80%;
    display: none;
}

span.edu_cat {
    font-weight: bold;
    color: var(--color2);
}

#welcome {
    padding: 20px;
    padding-left: 30px;
    text-align: justify;
    border-bottom-style:solid;
    border-bottom-width:5px;
    border-color: var(--color1);
    font-size: 14px;
    font-weight: normal;
}

#profiles {
    padding-left: 30px; 
    font-size: 14px; 
    padding-bottom: 10px 
}

#user_info {
    padding-left: 30px; 
    font-size: 14px;  
    line-height: 150%;
    font-weight: normal; 
}

#loading_ico {
    display: none;
    position: absolute;
    left: 200px;
    top: 220px;
    z-index: 200;
    text-align: center;
}

#motd {
   position: absolute;
   top: 0px;
   color: maroon;
   text-align: right;
   padding:5px;
   padding-right: 20px;
   width: 100%;
   background: #e7e7e7;
   box-sizing: border-box;
}

#footer {
    position: relative;
    margin-top: -65px;
    height: 49px;
    width: 100%;
    padding-top:5px;
    padding-bottom:10px;
    background: white;
    border-top: 1px solid #000;
}

div.footer table {
    width: 100%;
}

div.footer table td {
    padding-right:20px; 
    padding-left:20px; 
    vertical-align:top;
    position: relative;
}

@media all and (max-width: 389px) {
#institution_name {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 18px;
    padding-right: 100px;
    padding-left: 20px;
    background: #1d4a74;
    color: white;
    text-align: left;
}

#top_invite {
    cursor: pointer;
    text-decoration: underline;
    text-decoration: underline;
}

#top_invite:hover {
    text-decoration: underline;
}


#slides span {
    position: absolute;
    left: 20px;
    z-index: 20;
}


#user_welcome {
    background: #ffffff;
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 20px;
    font-size: 14px;
    font-weight: normal;
    display:none;
}

.download_button_text {
    width: 150px;
    position:absolute;
    font-size:20px;
    top:15px;
    right: 10px;
    padding-top:0px;
}

.download_button_text_1 {
    width: 170px;
    position:absolute;
    font-size:14px;
    top:20px;
    height: 30px;
    right: 5px;
    padding-top:0px;
    display: none;
}
button.guess_os {
   position: relative;
   height:auto;
   width: 250px;
   background-repeat:no-repeat;
   background-position: 10px 15px;
}

#profile_list {
    width: auto;
    padding-left: 10px;
    padding-right: 0px;
    background-color: #1d4a74;
    color: white;
}

#devices {
    padding-left: auto;
    padding-right: auto;
}

#browser {
    width: 90%;
}

#img_roll {
   display: none;
}

#device_list button.more_info_b {
   display: none;
}

.device_list {
    list-style-type: none;
}

.device_list td {
    vertical-align:middle;
}


td.vendor {
    display: none;
}

#hamburger {
   position: absolute;
   right: 0px;
   top: 30px;
   width: 80px;
   cursor: pointer;
   z-index: 140;
}
#menu_top {
    position: absolute;
    left: 0px;
    top: 20px;
    padding-right: 2vw;
    z-index: 140;
    background: #e7e7e7;
}

#menu_top > ul {
    list-style-type: none;
    font-weight: bold;
    display: none;
}

#menu_top > ul li ul{
    font-weight: normal;
}

#idp_logo {
   max-width:20vw;
   padding-top:30px;
}

#inst_extra_text {
   position: absolute;
   max-width: 30vw;
   width: auto;
   top: 0px;
   right: 20px;
   font-size: 13px;
   padding-top: 14px;
   color: yellow;
   padding-left:0px;
   text-align: right;
}

}

@media all and (max-width: 389px) and (orientation:landscape) { 
#menu_top {
    font-size: 2.5vw;
    max-width: 60vw;
}

}

@media all and (max-width: 389px) and (orientation:portrait) { 
#menu_top {
    font-size: 2.5vh;
    max-width: 60vw;
}

#roller {
    display: none;
}

}

@media all and (max-width: 750px) and (min-width:  390px) {
#institution_name {
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 18px;
    padding-right: 120px;
    padding-left: 20px;
    background: #1d4a74;
    color: white;
    text-align: left;
}

#top_invite {
    cursor: pointer;
    text-decoration: underline;
    text-decoration: underline;
}

#top_invite:hover {
    text-decoration: underline;
}

#slides span {
    position: absolute;
    left: 20px;
    z-index: 20;
}

#line1 {
    top:20px;
    color: yellow;
    font-size:20px;
}

#line2 {
    top:55px;
    font-size:40px;
    color: #fff;
}

#line3 {
    top:120px;
    left: 200px;
    color: #ffcc99;
    font-size:25px;
    display: none;
}

#line4 {
    top:180px;
    color: #fff;
    font-size:16px;
    width: auto;
    min-width: 200px;

}

#line5 {
    top:220px;
    width: 400px;
    color: #fff;
    font-size:16px;
    width: auto;
    min-width: 200px;
}

#user_welcome {
    background: #ffffff;
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 20px;
    font-size: 14px;
    font-weight: normal;
    display:none;
}

.download_button_text {
    width: 150px;
    position:absolute;
    font-size:20px;
    top:15px;
    right: 10px;
    padding-top:0px;
}

.download_button_text_1 {
    width: 170px;
    position:absolute;
    font-size:14px;
    top:20px;
    height: 30px;
    right: 5px;
    padding-top:0px;
    display: none;
}
button.guess_os {
   position: relative;
   height:auto;
   width: 250px;
   background-repeat:no-repeat;
   background-position: 10px 15px;
}

#profile_list {
    width: auto;
    padding-left: 10px;
    padding-right: 0px;
    background-color: #1d4a74;
    color: white;
}


#img_roll {
   display: none;
}


#hamburger {
   position: absolute;
   right: 0px;
   top: 30px;
   width: 80px;
   cursor: pointer;
   z-index: 140;
}
#menu_top {
    position: absolute;
    left: 0px;
    top: 20px;
    padding-right: 2vw;
    z-index: 140;
    background: #e7e7e7;
}

#menu_top > ul {
    list-style-type: none;
    font-weight: bold;
    display: none;
}

#menu_top > ul li ul{
    font-weight: normal;
}

#idp_logo {
   max-width:20vw;
   padding-top:30px;
}

#inst_extra_text {
   position: absolute;
   max-width: 30vw;
   width: auto;
   top: 0px;
   right: 20px;
   font-size: 13px;
   padding-top: 14px;
   color: yellow;
   padding-left:0px;
   text-align: right;
}

#devices {
    padding-left: auto;
    padding-right: auto;
}

}

@media all and (max-width: 750px) and (min-width: 390px) and (orientation:landscape) { 
#menu_top {
    font-size: 2.5vw;
    max-width: 60vw;
}

}

@media all and (max-width: 750px) and (min-width: 390px) and (orientation:portrait) { 
#menu_top {
    font-size: 2.5vh;
    max-width: 60vw;
}

}

@media all and (min-width: 750px) {

#institution_name {
    font-size: 32px;
    padding-top: 30px;
    padding-bottom: 28px;
    padding-right: 120px;
    padding-left: 30px;
    background: #1d4a74;
    color: white;
    text-align: left;
}


#idp_logo {
   max-width:150px;
}

#slides span {
    position: absolute;
    left: 20px;
    z-index: 20;
}

#line1 {
    top:20px;
    color: yellow;
    font-size:20px;
}

#line2 {
    top:55px;
    font-size:40px;
    color: #fff;
}

#line3 {
    top:120px;
    left: 200px;
    color: #ffcc99;
    font-size:25px;
}

#line4 {
    top:180px;
    color: #fff;
    font-size:16px;
    width: auto;
    min-width: 200px;

}

#line5 {
    top:220px;
    color: #fff;
    font-size:16px;
    width: auto;
    min-width: 200px;
}


#user_welcome {
    background: #ffffff;
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 180px;
    font-size: 14px;
    font-weight: normal;
    display:none;
}

.download_button_text {
    width: 380px;
    position:absolute;
    font-size:20px;
    top:40px;
    right: 5px;
    padding-top:0px;
}

.download_button_text_1 {
    width: 380px;
    position:absolute;
    font-size:14px;
    top:20px;
    height: 30px;
    right: 5px;
    padding-top:0px;
}
button.guess_os {
   position: relative;
   height:80px;
   width: 450px;
   background-repeat:no-repeat;
   background-position: 10px 15px;
}

#profile_list {
    width: 30em;
    padding-left: 10px;
    padding-right: 0px;
    background-color: #1d4a74;
    color: white;
}

#slides span {
    position: absolute;
    left: 80px;
    z-index: 20;
}

#hamburger {
   display: none;
}
#menu_top {
    position: absolute;
    right: 10px;
    top: 20px;
    z-index: 90;

}

#menu_top > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}

#menu_top > ul li {
   float: left;
   position: relative;
/*   max-width: 15vw;*/
}

#menu_top > ul li a, #menu_top > ul li span {
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    position: relative;
    display: block;
    color: black;
    font-size: 14px;
    text-align: center;
    padding: 35px 2vw 35px 2vw;
    text-decoration: none;
    height: 20px;
}

#menu_top > ul li a.selected-lang {
   background: lightgreen;
}

#menu_top > ul li a:hover, #menu_top > ul li span:hover {
    background: #1d4a74;
    color: white;
}

#menu_top > ul li:hover ul {
    display: block;
}

#menu_top > ul li ul {
    position: absolute;
    top:90px;
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
}

#menu_top > ul li ul li {
   clear: both;
}

#menu_top > ul li ul li:first-of-type a {
   border-top: 2px solid #1d4a74;
}


#menu_top > ul li ul > li > a,#menu_top > ul li ul > li > span {
   position:relative;
    background: #fff;
   display: block;
   width: 200px;
   min-height: 20px;
   padding: 5px 15px 5px 15px;
   text-align: left;
    border: 1px solid  #e7e7e7;
   z-index: 140;
   box-shadow: 0px 3px 2px 1px rgba(0,0,0,0.06)
}

#menu_top > ul li ul select {
   width: 100%;
   position: relative;
   left: -1vw;
}

#menu_top > ul li ul li span:hover {
   background: #1d4a74;
}

}

#main_menu_info {
    position: absolute;
    top: 140px;
    left: 5%;
    width: 90%;
    background: #f0f0f0;
    margin-left: 0px;
    padding-top: 10px;
    padding-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    vertical-align: top;
    box-shadow: 0px 3px 2px 1px rgba(0,0,0,0.06);
/*    border-top: 4px solid #1d4a74;*/
    text-align: justify;
    font-size: 14px;
    z-index: 140;
}

#main_menu_content {
   font-size: 12px;
}

img.close_button {
   position: absolute;
   right: 5px;
   top: 7px;
   cursor: pointer;
}

#main_menu_content div.padding {
    padding-left: 20px;
    padding-right: 20px;
}
#main_menu_content h1 {
    padding: 40px;
    height: 30px;
    font-size: 24px;
    font-weight: normal;
    color: white;
    background: #1d4a74;
}

#main_menu_content div > div {
    padding: 0px 40px 0px 40px;
}

#main_menu_content dt {
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 3px;
}
#main_menu_content dd {
    padding-bottom: 10px;
}

#main_menu_content dd p {
    margin-top: 5px;
}

#user_page {
   position: relative;;
   width: 100%;
   top: 130px;
   padding-bottom: 130px;
    display: none;
}

#guess_os  {
   display: none;
}

#guess_os button.more_info_b {
   height:80px;
   width: 80px;
   font-style: italic;
   font-family: "Times New Roman", Times, serif;
   font-size: 50px;
   display: none;
}

button.large_button {
    background-color: #1d4a74;
    border: 6px solid  #e7e7e7;
    border-radius: 12px;
    padding-left:20px;
    padding-right:20px;
    min-height: 100px;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
}

button.large_button:hover {
    background-color: #e7e7e7;
    color: #575757;
    text-decoration: underline;
}

a.signin {
   color: white;
   padding-left: 30px;
}

#logos {
    position: absolute;
    left: 0px;
}

#select_another {
   position: absolute;
   max-width: 110px;
   width: auto;
   top: 0px;
   right: 20px;
   font-size: 16px;
   padding-top: 12px;
   color: yellow;
   padding-left:0px;
   text-align: right;
}

#download_info {
   background: #f0f0f0;
   padding-left: 20px;
   padding-right: 20px;
   padding-top:3px;
   padding-bottom:3px;
   display: block;
}

#cert_details {
    display: none;
    padding-top: 10px;
    
}

#cert_details td {
    background: #eee;
    padding: 1px;
}

#cert_details th.th1 {
    font-size: 14px;
    text-align: left;
    padding-top: 4px;
    border-bottom: 1px black solid;
}

#cert_details td.revoke {
    background: #fff;
}

#cert_details td.revoke a {
    color: red;
    font-weight: bold;
    text-decoration: none;
}

#cert_details td.revoke a:hover {
    text-decoration: underline;
}

#sb_download_message span.emph {
    font-weight: bold;
}

#sb_download_message {
    font-size: 16px;
    padding-right: 30px;
    padding-left: 20px;
    padding-top:1px;
    padding-bottom: 1px;
    background: #eee;
    position: relative;
    left: -20px;
    top: 10px;
}

#sb_info {
    padding-top: 15px;
    padding-bottom: 50px;
}

#detailtext {
    cursor: pointer;
    font-weight: bold;
    font-style: italic;
}

#silverbullet {
    display: none;
    padding: 30px;
    font-size: 14px;
    font-weight: bold;
}
