
td.icon_td {
   vertical-align: top;
   width:30px;
   min-height: 80px;
}

td.icon_td img {
   width: 24px;
}

.error_row td {
    color: red;
}
.hidden_row {
    visibility:collapse;
}
.visible_row {
    visibility:visible;
}
.error_input {
    border:1px solid red;
}


