# openssl req -config ./openssl.cnf -new -keyout example.key -out example.csr

RANDFILE=/dev/urandom

[ req ]
default_bits       = 4096 
distinguished_name = req_distinguished_name
default_md         = sha256
dirstring_type     = nombstr
prompt             = no

[ req_distinguished_name ]

1.DC = test
2.DC = test
3.DC = eduroam
C   = EU
O   = eduroam Software Development Team
CN=this.is.a.test
